body{
  background: #222222;
  color: white;
  margin: 0;
}

main{
  display: flex;
  margin: 60px;
}

.timetableTitle
{
    font-size: 15px;
}

.timetableMemo {
    font-size: 10px;
    padding-left: 10px;
    padding-right: 18px;
    padding-top: 7px;
    padding-bottom: 0;
    box-sizing: border-box;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    text-indent: 0; /* ✅ 혹시라도 기본 들여쓰기 방지 */
    vertical-align: top;
  }

#timetable, #lunchtable{
  min-height: 87vh;
  background: #191919;
  border-radius: 20px;

  & > .header{
      width: calc(100% - 80px);
      padding: 40px 40px 10px 40px;

      & > .title{
          font-weight: bold;
          font-size: 30px;
      }
  }

  & > .body{
      width: calc(100% - 80px);
      height: calc(100% - 82px - 50px);
      padding: 10px 40px 40px 40px;
  }
}

#timetable{
  width: 66vw;

  .body > table{
      width: 100%;
      height: 100%;
      border-spacing: 0px;
      border-radius: 10px;
      overflow: hidden;
      table-layout: fixed;

      & > thead > tr > th{
          height: calc(50px - 10px);
          padding: 10px 0 0 10px;
          font-weight: normal;
          font-size: 12px;
          text-align: left;
          align-content: start;
          color: #999999;

          background: #252525;

          border-right: 1px solid #4e4e4e;
          border-bottom: 1px solid #4e4e4e;

          &:nth-last-child(1){
              border-right: none;
          }
      }

      & > tbody{
          tr > td{
              transition: .1s;
              height: calc(80px - 10px);
              width: calc(100%/5);
              padding: 10px 0 0 10px;
              font-size: 8px;
              text-align: left;
              align-content: start;

              cursor: pointer;

              border-right: 1px solid #4e4e4e;
              border-bottom: 1px solid #4e4e4e;

              &:nth-last-child(1){
                  border-right: none;
              }

              &:hover{
                  background: #252525;
              }
          }

          &:nth-last-child(1){
              & > tr > td{border-bottom: none;}
          }
      }

      & > tbody > tr > #lunchtime{
          padding: 0;
          height: 30px;
          font-size: 20px;
          text-align: center;
          align-content: center;

          color: #999999
      }
  }
}

#lunchtable{
  width: 25vw;
  margin-left: 20px;

  & > .body{
      & > .title{
          font-weight: bold;
          font-size: 18px;
          margin-left: 4px;
          color: #999999;
      }
      & > .box{
          transition: .1s;
          min-height: 0;
          margin: 10px 0 20px 0;
          width: calc(100% - 40px);
          padding: 20px;
          color: white;
          border-radius: 10px;
          background: #252525;
          white-space: pre-wrap;

          display: block;

          cursor: pointer;
          
          & > .header{
              grid-template-columns: 1fr 24px;
              display: grid;
              justify-content: space-between;
              background-color: #2D2D2D;
          }
      }
  }
}

@media screen and (max-width: 800px) {
  main{
      flex-direction: column;
      margin: 10px;
  }

  #timetable{
      width: calc(100vw - 40px);
  }

  #lunchtable{
      margin: 10px 0;
      width: calc(100vw - 40px);
  }

  #timetable, #lunchtable{
      & > .header{
          width: calc(100% - 80px);
          padding: 20px 20px 10px 20px;
  
          & > .title{
              font-weight: bold;
              font-size: 24px;
          }
      }
  
      & > .body{
          width: calc(100% - 40px);
          height: calc(100% - 42px - 50px);
          padding: 10px 20px 20px 20px;
      }
  }
}

#postMemoInput {
    width: 97%;
    height: 100%;
    resize: none;
    margin-left: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 16px;
    box-sizing: border-box;
}

.textwrapper
{
  border:1px solid #999999;
  margin:5px 0;
  padding:3px;
  margin: 0 auto;
}

.memoTitle
{
    text-align: center;
    margin-top: 15px;
}

.memoConfirm
{
    text-align: center;
    margin-top: 15px;
    padding-bottom: 10px;
}

.memoConfirmButton
{
    margin-right: 10px;
}

